.product-card{
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cart-container{
    position: sticky;
    bottom: 0px;
    background-color: beige;
    
}

#cartProduct{
    display: flex;
    gap: 10px;
}